language: python
python:
  - 2.7
  - 3.6

sudo: false

env:
  global:
    - PYPI_PY=3.6

  matrix:
    - TEST_DIR="tests"

install:
  - pip install --upgrade pip;
  - pip install twine;
  - cd gpgLabs; python setup.py install; cd ..

# Run test
script:
  # - nosetests $TEST_DIR -v -s
  - echo $PWD

# deploy to pypi
after_success:
  - if [ $TRAVIS_PYTHON_VERSION == $PYPI_PY ]; then
      openssl aes-256-cbc -K $encrypted_bc303f70394a_key -iv $encrypted_bc303f70394a_iv -in credentials.tar.gz.enc -out credentials.tar.gz -d ;
      tar -xzf credentials.tar.gz ;
      mv credentials/.pypirc ~/.pypirc ;
      python setup.py bdist_wheel ;
      travis_wait 20 twine upload -r pypi --skip-existing dist/* ;
    fi

  # - if [ "$TRAVIS_TAG" ]; then
  #     if [ $TRAVIS_PYTHON_VERSION == $PYPI_PY ]; then
  #       openssl aes-256-cbc -K $encrypted_bc303f70394a_key -iv $encrypted_bc303f70394a_iv -in credentials.tar.gz.enc -out credentials.tar.gz -d
  #       tar -xzf credentials.tar.gz ;
  #       mv credentials/.pypirc ~/.pypirc ;
  #       python setup.py bdist_wheel ;
  #       travis_wait 20 twine upload -r pypi --skip-existing dist/* ;
  #     fi
  #   fi

notifications:
  slack: ubcgif:1Z2lR3XYRSM3GHflG71ZHEN6
