name: Testing

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  setup-build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]
        test_file: ["tests/test_dcip.py", "tests/test_em.py", "tests/test_gpr.py", "tests/test_mag.py", "tests/test_seismic.py"]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        activate-environment: geosci-labs
        channels: conda-forge
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
    - name: Install Env
      run: |
        conda info
        conda config --show
        conda install pytest
        pip install testipynb
        conda list
    - name: Run Tests
      shell: bash
      run: |
        pytest -v ${{ matrix.test_file }}
